/* This is an example of using Sass, otherwise plain CSS works too*/
// $background: linear-gradient(#FFF, transparent), url('https://download.hipwallpaper.com/desktop/1920/1080/90/81/HkxRbN.jpg') no-repeat 50% 50%;


* {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  margin: 0px;
  transition: ease all .3s;
}

.img {
  background: url('https://images2.alphacoders.com/760/760735.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #53405F;
  height: 75px;
  color: #EAE7EB;
}

h1 {
  font-size: 3em;
  // padding-left: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #53405F;
}

.nav-wrapper {
  display: flex;
  height: 100%;
  // background-color:blue;
};

.nav-icons {
  padding: 0px 15px;
  font-size: 2em;
  height: 100%;
  background-color: #53405F;
  color: #EAE7EB;
  align-items: center;
  display: flex;
  text-decoration:none;
}

.tab-active {
  background-color: transparent;
  color: #53405F;
  font-weight: 700;
}

main {
  height: 90vh;
  display:flex;
  // background-color: blue;
  // opacity: 0.2;
}

aside {
  width: 350px;
  height: 100%;
  margin: 20px 10px 20px 20px;
}

.aside-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  color: #EAE7EB;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #EAE7EB;
  text-align: center;
}

.todays-date {
  margin: 10px 0px;
}

input {
  width: 100%;
  border: none;
  height: 40px;
  font-size: 1.25em;
  // padding: 0 5px;
}

form {
  margin-bottom: 10px;  
}

.search-customer-input {
  border-radius: 5px;
}
.add-customer-wrapper {
  margin-bottom: 10px;  
}

.add-customer-input,
.room-service-any-day-input {
  border-radius: 5px 0 0 5px;
}

.search-customer-input,
.add-customer-input,
.room-service-any-day-input {
  font-size: 1.25em;
  text-align: center;
}

.customer-label {
  margin-bottom: 10px;  
}

.add-customer-wrapper,
.search-customer-input,
.booking-room-search-any-day-wrapper {
  display: flex;
  height: 40px;
  // margin: 15px 0;
}

.add-customer-btn {
  height: 100%;
  // padding: 0px
  width: 20%;
  font-size: 2.5em;
  outline: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #EAE7EB;
  background-color: #53405F;
}

section {
  height: 100%;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 20px 20px 10px;

}

.display-customer-name-wrapper {
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
  background-color: rgba(83, 64, 95, 0.5);
  color: #EAE7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
}

.main-room-wrapper {
  display: flex;
  width: 100%;
  height: 50%;
  
}

.total-rooms-available-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  // padding: 10px;
  color: #EAE7EB;
  margin: 10px 10px 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.total-rooms-available,
.percent-rooms-occupied,
.total-revenue, .display-amount-room-service-today,
.display-amount-room-service-ever {
  font-size: 3.5em;
  // margin-bottom: 10px
}

.percent-rooms-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  // padding: 10px;
  color: #EAE7EB;
  margin: 10px 0px 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.total-revenue-background {
  width: 100%;
  height: 50%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  // padding: 10px;
  color: #EAE7EB;
  margin: 30px 0px 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-customers {
  height: 100%;
  width: 100%;
  border: 2px #EAE7EB solid;
  border-radius: 5px;
  overflow: scroll;
}

.individual-customer,
.individual-order,
.individual-day-dollar-amount {
  font-size: 1.5em;
  text-align: center;
  // background-color: blue;
  height: 75px;
  display: flex;
  align-items: center;
  border-top: 1px #EAE7EB solid;
  border-bottom: 1px #EAE7EB solid;
  justify-content: center;
  text-decoration: none;
  color: #EAE7EB;
}



#customer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.no-customer,
.display-customer-tab {
  color: #EAE7EB;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  // padding: 10px;
  width: 100%;
  height: 33%;
}

//*****ORDERS
#orders {
  display: flex;
}

.display-order-service-any-day,
.customer-room-service,
.display-amount-room-service-today {
  margin-bottom: 10px;
}

.room-service-any-day-wrapper {
  display: flex;
  height: 40px;
}

.search-for-room-service {
  margin-bottom: 10px;
}

.room-service-any-day-btn,
.booking-service-any-day-btn {
  height: 100%;
  // padding: 0;
  width: 20%;
  font-size: 2.5em;
  outline: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #EAE7EB;
  background-color: #53405F;
}

.total-amount-room-service-today {
  width: 300px;
  height: 100px;
}

#rooms {
  display: flex;
}

.room-default-info-background,
.room-search-rooms-background,
.room-customer-info-background,
.room-create-booking-info-background,
.order-service-today-background,
.order-service-any-day-background,
.dates-and-dollar-amounts-background,
.total-amount-order-service-today,
.total-amount-order-service-ever-background,
.booking-search-rooms-background {
  height: 100%;
  width: 25%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  // padding: 5px;
  margin: 20px 10px;
  padding: 10px;
}

.booking-search-rooms-result {
  height: 100%;
  width: 100%;
}

.booking-search-rooms-result {
  overflow: scroll;
}

.individual-room {
  // padding: 10px 0px;
  text-align: center;
  color: #EAE7EB;
  border-top: 2px solid #EAE7EB;
  border-bottom: 2px solid #EAE7EB;
}