/* This is an example of using Sass, otherwise plain CSS works too*/
// $background: linear-gradient(#FFF, transparent), url('https://download.hipwallpaper.com/desktop/1920/1080/90/81/HkxRbN.jpg') no-repeat 50% 50%;
$darkPurple: #53405F;
$White: #EAE7EB;
$lightPurpleBackground: rgba(83, 64, 95, 0.5);

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  margin: 0px;
  transition: ease all .3s;
}

.img {
  background-position: top;
  background: url('../images/grandbudapest.jpg') no-repeat;
  background-size: cover;
  filter: blur(3px);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -5;
}

nav {
  align-items: center;
  color: $White;
  display: flex;
  height: 75px;
  justify-content: space-between;
}

h1 {
  align-items: center;
  background-color: $darkPurple;
  display: flex;
  font-size: 3em;
  height: 100%;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  height: 100%;
};

.nav-icons {
  align-items: center;
  background-color: $darkPurple;
  color: $White;
  display: flex;
  font-size: 2em;
  height: 100%;
  padding: 0px 15px;
  text-decoration:none;
}

.tab-active {
  background-color: transparent;
  color: $darkPurple;
  font-weight: 700;
}

main {
  display:flex;
  height: 90vh;
}

aside {
  height: 100%;
  margin: 20px 10px 20px 20px;
  width: 350px;
}

.aside-background {
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
}

h2 {
  color: $White;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: $White;
  text-align: center;
}

.todays-date {
  margin: 10px 0px;
}

input {
  border: none;
  font-size: 1.25em;
  height: 40px;
  width: 100%;
}

form {
  margin-bottom: 10px;  
}

.search-customer-input {
  border-radius: 5px;
}
.add-customer-wrapper {
  margin-bottom: 10px;  
}

.search-customer-input,
.add-customer-input,
.room-service-any-day-input,
.booking-service-any-day-input {
  border-radius: 5px 0 0 5px;
  font-size: 1.25em;
  text-align: center;
}

.search-customer-input {
  border-radius: 5px 5px 5px 5px;
}

.customer-label {
  margin-bottom: 10px;  
}

.add-customer-wrapper,
.search-customer-input,
.booking-room-search-any-day-wrapper {
  display: flex;
  height: 40px;
}

.booking-room-search-any-day-wrapper {
  margin-bottom: 10px;
}

.add-customer-btn {
  -webkit-appearance: none;
  background-color: $lightPurpleBackground;
  border-radius: 0 5px 5px 0;
  border: none;
  color: $White;
  font-size: 2.5em;
  height: 100%;
  outline: none;
  width: 20%;
}

section {
  height: 100%;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 20px 20px 10px;
}

.display-customer-name-wrapper {
  align-items: center;
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  height: 10%;
  justify-content: center;
  margin-bottom: 10px;
  margin: auto;
  width: 80%;
}

.main-room-wrapper {
  display: flex;
  height: 50%;
  width: 100%;
}

.total-rooms-available-background {
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 10px 10px 10px 0px;
  text-align: center;
  width: 100%;
}
.total-rooms-available,
.percent-rooms-occupied,
.total-revenue, .display-amount-room-service-today,
.display-amount-room-service-ever {
  font-size: 3.5em;
}

.percent-rooms-background {
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 10px 0px 10px 10px;
  text-align: center;
  width: 100%;
}

.total-revenue-background {
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  text-align: center;
  width: 100%;
}

.all-customers {
  border-radius: 5px;
  border: 2px $White solid;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.individual-customer,
.individual-order,
.individual-day-dollar-amount {
  align-items: center;
  border-bottom: 1px $White solid;
  border-top: 1px $White solid;
  color: $White;
  display: flex;
  font-size: 1.5em;
  height: 75px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.individual-room {
  height: 100px;
}

#customer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-customer,
.display-customer-tab {
  align-items: center;
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  color: $White;
  display: flex;
  font-size: 2em;
  height: 33%;
  justify-content: center;
  width: 100%;
}

#orders {
  display: flex;
}

.display-order-service-any-day,
.customer-room-service,
.display-amount-room-service-today {
  margin-bottom: 10px;
}

.room-service-any-day-wrapper {
  display: flex;
  height: 40px;
}

.search-for-room-service {
  margin-bottom: 10px;
}

.room-service-any-day-btn,
.booking-service-any-day-btn {
  -webkit-appearance: none;
  background-color: $darkPurple;
  border-radius: 0 5px 5px 0;
  border: none;
  color: $White;
  font-size: 2.5em;
  height: 100%;
  outline: none;
  width: 20%;
}

.total-amount-room-service-today {
  height: 100px;
  width: 300px;
}

#rooms {
  display: flex;
}

.room-default-info-background,
.room-search-rooms-background,
.room-customer-info-background,
.room-create-booking-info-background,
.order-service-today-background,
.order-service-any-day-background,
.dates-and-dollar-amounts-background,
.total-amount-order-service-today,
.total-amount-order-service-ever-background,
.booking-search-rooms-background {
  background-color: $lightPurpleBackground;
  border-radius: 5px;
  height: 100%;
  margin: 20px 10px;
  padding: 10px;
  width: 25%;
}  

.date-with-most-rooms-avail {
  margin-top: 20px
}

.booking-search-rooms-result {
  height: 90%;
  width: 100%;
}

.booking-search-rooms-result {
  overflow: scroll;
}

.individual-room {
  border-bottom: 2px solid $White;
  border-top: 2px solid $White;
  color: $White;
  text-align: center;
}