/* This is an example of using Sass, otherwise plain CSS works too*/
// $background: linear-gradient(#FFF, transparent), url('https://download.hipwallpaper.com/desktop/1920/1080/90/81/HkxRbN.jpg') no-repeat 50% 50%;


* {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  margin: 0px;
  transition: ease all .3s;
}

.img {
  background: url('https://images2.alphacoders.com/760/760735.jpg') no-repeat;
  background-size: cover;
  background-position: top;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #53405F;
  height: 75px;
  color: #EAE7EB;
}

h1 {
  font-size: 3em;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #53405F;
}

.nav-wrapper {
  display: flex;
  height: 100%;
  // background-color:blue;
};

.nav-icons {
  padding: 0px 15px;
  font-size: 2em;
  height: 100%;
  background-color: #53405F;
  color: #EAE7EB;
  align-items: center;
  display: flex;
  text-decoration:none;
}

.tab-active {
  background-color: transparent;
  color: #53405F;
  font-weight: 700;
}

main {
  height: 90vh;
  display:flex;
  // background-color: blue;
  // opacity: 0.2;
}

aside {
  width: 315px;
  height: 100%;
  padding: 25px;
  // background-color: blue;
  // opacity: 0.2;
}

.aside-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: #EAE7EB;
  // opacity: 0.5;
  // position: fixed; //fixed static absolute relative initial
  // bottom: -1;
  // z-index: -4;
}

h2 {
  font-size: 2em;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  height: 30px;
  font-size: 1em;
  padding: 0 5px;
  margin: 15px 0;
  border-radius: 5px;

}

section {
  height: 100%;
  width: 100%;
  padding: 25px
  // background-color: blue;
  // opacity: 0.2;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.main-room-wrapper {
  display: flex;
  width: 100%;
  height: 50%;
}

.total-rooms-available-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: #EAE7EB;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.total-rooms-available,
.percent-rooms-available,
.total-revenue {
  font-size: 3.5em;
  margin-bottom: 10px
}

.percent-rooms-background {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: #EAE7EB;
  margin-left: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.total-revenue-background {
  width: 100%;
  height: 50%;
  background-color: rgba(83, 64, 95, 0.5);
  border-radius: 5px;
  padding: 10px;
  color: #EAE7EB;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
